.mario-block {
  display: inline-block;
  position: relative;
  margin: 80px auto;
  width: 16em;
  height: 16em;
}

.mario {
  display: block;
  width: 1em;
  height: 1em;
  background-color: rgb(240, 236, 104);
  box-shadow: 0em 0em rgb(240, 236, 104), 
  0em 1em rgb(240, 236, 104),
  0em 2em rgb(240, 236, 104),
  0em 3em rgb(240, 236, 104),
  0em 4em rgb(240, 236, 104),
0em 5em red,
0em 6em red,
0em 7em red,
0em 8em red,
0em 9em red,
0em 10em rgb(240, 236, 104),
  0em 11em rgb(240, 236, 104),
  0em 12em rgb(240, 236, 104),
  0em 13em rgb(240, 236, 104),
  0em 14em rgb(240, 236, 104),
  0em 15em rgb(240, 236, 104),

  1em 0em  rgb(240, 236, 104),
  1em 1em  rgb(240, 236, 104),
  1em 2em  rgb(240, 236, 104),
  1em 3em rgb(240, 236, 104),
1em 4em red,
1em 5em red,
1em 6em red,
1em 7em red,
1em 8em red,
1em 9em red,
1em 10em red,
1em 11em red,
1em 12em red,
	1em 13em  rgb(240, 236, 104),
	  1em 14em  rgb(240, 236, 104),
	  1em 15em rgb(240, 236, 104),
	  
	  2em 0em  rgb(240, 236, 104),
	  2em 1em  rgb(240, 236, 104),
	  2em 2em  rgb(240, 236, 104),
	  2em 3em  rgb(240, 236, 104),
	  2em 4em brown,
	  2em 5em brown,
	  2em 6em brown, 
	  2em 7em  tan,
	  2em 8em tan,
	  2em 9em black,
	  2em 10em tan,
	  2em 11em  rgb(240, 236, 104),
	  2em 12em  rgb(240, 236, 104),
	  2em 13em  rgb(240, 236, 104),
	  2em 14em  rgb(240, 236, 104),
	  2em 15em  rgb(240, 236, 104),
	  
	  3em 0em rgb(240, 236, 104),
	  3em 1em rgb(240, 236, 104),
	  3em 2em rgb(240, 236, 104),
	  3em 3em brown,
	  3em 4em tan,
	  3em 5em brown,
	  3em 6em tan,
	  3em 7em tan,
	  3em 8em tan,
	  3em 9em black,
	  3em 10em tan,
	  3em 11em tan,
	  3em 12em tan,
	  3em 13em rgb(240, 236, 104),
	  3em 14em rgb(240, 236, 104),
	  3em 15em rgb(240, 236, 104),

	  4em 0em rgb(240, 236, 104),
	  4em 1em rgb(240, 236, 104),
	  4em 2em rgb(240, 236, 104),
	  4em 3em rgb(240, 236, 104),
	  4em 4em brown,
	  4em 5em tan,
	  4em 6em brown,
	  4em 7em brown,
	  4em 8em tan,
	  4em 9em tan,
	  4em 10em tan,
	  4em 11em black,
	  4em 12em tan,
	  4em 13em tan,
	  4em 14em rgb(240, 236, 104),
	  4em 15em rgb(240, 236, 104),

	  5em 0em rgb(240, 236, 104),
	  5em 1em rgb(240, 236, 104),
	  5em 2em rgb(240, 236, 104),
	  5em 3em rgb(240, 236, 104),
	  5em 4em brown,
	  5em 5em tan,
	  5em 6em tan,
	  5em 7em tan,
	  5em 8em tan,
	  5em 9em black,
	  5em 10em black,
	  5em 11em black,
	  5em 12em black,
	  5em 13em rgb(240, 236, 104),
	  5em 14em rgb(240, 236, 104),
	  5em 15em rgb(240, 236, 104),

	  6em 0em rgb(240, 236, 104),
	  6em 1em rgb(240, 236, 104),
	  6em 2em rgb(240, 236, 104),
	  6em 3em rgb(240, 236, 104),
	  6em 4em rgb(240, 236, 104),
	  6em 5em tan,
	  6em 6em tan,
	  6em 7em tan,
	  6em 8em tan,
	  6em 9em tan,
	  6em 10em tan,
	  6em 11em rgb(240, 236, 104),
	  6em 12em rgb(240, 236, 104),
	  6em 13em rgb(240, 236, 104),
	  6em 14em rgb(240, 236, 104),
	  6em 15em rgb(240, 236, 104),

	  7em 0em rgb(240,236,104),
	  7em 1em rgb(240,236,104),
	  7em 2em rgb(240,236,104),
	  7em 3em rgb(240,236,104),
	  7em 4em red,
	  7em 5em red, 
	  7em 6em blue, 
	  7em 7em red,
	  7em 8em red, 
	  7em 9em blue,
	  7em 10em red,
	  7em 11em red,
	  7em 12em rgb(240, 236, 104),
	  7em 13em rgb(240, 236, 104),
	  7em 14em rgb(240, 236, 104),
	  7em 15em rgb(240, 236, 104),

	  8em 0em rgb(240, 236, 104),
	  8em 1em rgb(240, 236, 104),
	  8em 2em rgb(240, 236, 104),
	  8em 3em red,
	  8em 4em red,
	  8em 5em red,
	  8em 6em blue,
	  8em 7em red,
	  8em 8em red, 
	  8em 9em blue,
	  8em 10em red,
	  8em 11em red,
	  8em 12em red,
	  8em 13em rgb(240, 236, 104),
	  8em 14em rgb(240, 236, 104),
	  8em 15em rgb(240, 236, 104),

	  9em 0em rgb(240, 236, 104),
	  9em 1em rgb(240, 236, 104),
	  9em 2em red,
	  9em 3em red,
	  9em 4em red,
	  9em 5em red,
	  9em 6em blue,
	  9em 7em blue,
	  9em 8em blue,
	  9em 9em blue,
	  9em 10em red,
	  9em 11em red,
	  9em 12em red,
	  9em 13em red,
	  9em 14em rgb(240, 236, 104),
	  9em 15em rgb(240, 236, 104);
}
